#wrapper {
    background: rgba(0,0,0,.8);
    color: white;
}

#static
{
    background: rgba(0,0,0,0);
}

#dynamic
{
    background: rgba(0,0,0,0);
}

#notifications
{
    background: rgba(0,0,0,0);
}
